<!DOCTYPE html>
<html>

<head>
  <title>Todolist</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="icon" type="image/x-icon" href="static/favicon.ico">
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <h2>Todolist</h2>
      <button class="button add-todo-btn">Add Todo</button>
    </div>
    <div id="list-of-todos">
      {% for todo in todos %}
      <div class="todo-item" id="todo{{todo.id}}">
        <input type="checkbox" class="todo-checkbox" {% if todo.status %}checked{% endif %}>
        <div class="todo-title">{{todo.title}}</div>
        <span class="material-icons" data-index="{{ todo.id }}">delete</span>
      </div>
      {% endfor %}
    </div>
    <div class="bg-popup"></div>

    <div class="popup delete-confirm-popup">
      <h3>Confirm Deletion</h3>
      <p>Are you sure you want to delete this todo?</p>
      <div class="delete-confirm-popup-btns">
        <button class="delete-yes button">Yes</button>
        <button class="delete-no button">No</button>
      </div>
    </div>
    <div class="popup create-todo-popup">
      <h2>Add Todo</h2>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
      </div>
      <input type="submit" value="Confirm" id="confirm-new-todo" class="button">
    </div>
  </div>
  <script src="static/scripts.js"></script>
</body>

</html>